
<form id="{{.Id}}" class="ffs" action="{{.Action}}" method="{{.Method}}" data-solved="{{.Solved}}" data-value="{{.Value}}">
    <div class="img-wrap">
        <img class="img" src="{{.ImgSrc|safe}}" />
    </div>
</form>